.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.join-room * {
  margin-bottom: 9px;
}

.join-room {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 20rem;
  margin: auto;
  font-size: calc(10px + 2vmin);
  color: white;
}

.join-room input {
  padding: 5px;
  font-size: calc(10px + 2vmin);
}

.join-room button {
  margin-top: 9px;

  outline: none;
  border-radius: 5px;

  font-size: calc(10px + 2vmin);
  text-align: center;
}